{
	"tabWidth": 4,
	"useTabs": true,
	"trailingComma": "all",
	"printWidth": 80,
	"bracketSpacing": true,
	"bracketSameLine": false,
	"arrowParens": "always",
	"singleQuote": false,
	"semi": true,
	"endOfLine": "crlf",
	"overrides": [
		{
			"files": "*.ts",
			"options": {
				"parser": "typescript"
			}
		}
	]
}
